POSTGRES_DB=pngee_cyberguard
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
POSTGRES_APP_USER=pngee_app
POSTGRES_APP_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
POSTGRES_MIGRATOR_USER=pngee_migrator
POSTGRES_MIGRATOR_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
APP_PORT=3000
TRUST_PROXY=1
PUBLIC_BASE_URL=http://127.0.0.1:3000
AUTH_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_VALUE_AT_LEAST_32_CHARACTERS
LICENSE_PUBLIC_KEY=CHANGE_ME_TO_YOUR_LICENSE_VERIFICATION_PUBLIC_KEY
