POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
POSTGRES_DB=pngee_cyberguard
APP_PORT=3000
TRUST_PROXY=1
AUTH_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_VALUE_AT_LEAST_32_CHARACTERS
LICENSE_PUBLIC_KEY=CHANGE_ME_TO_YOUR_LICENSE_VERIFICATION_PUBLIC_KEY
